@font-face {
  font-family: 'Togalite-Regular';
  src: local('Togalite-Regular'),
    url('~@/assets/fonts/Togalite-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Togalite-Bold';
  src: local('Togalite-Bold'),
    url('~@/assets/fonts/Togalite-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Togalite-Medium';
  src: local('Togalite-Medium'),
    url('~@/assets/fonts/Togalite-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Togalite-Heavy';
  src: local('Togalite-Heavy'),
    url('~@/assets/fonts/Togalite-Heavy.otf') format('opentype');
}


@font-face {
  font-family: 'BLAME';
  src: local('BLAME'),
    url('~@/assets/fonts/BLAME.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Superion';
  src: local('Superion 400'),
    url('~@/assets/fonts/Superion 400.otf') format('opentype');
}